.error
{
	color: red;
}

span.field-validation-error
{
	color: red;
}

.input-validation-error
{
	border-color: red !important;
}

hr
{
	height: 1px;
	border: 0;
	color: #EFEFEF;
	background-color: #EFEFEF;
	width: 100%;
} 