.error
{
	color: red;
}

span.field-validation-error
{
	color: red;
}

.input-validation-error
{
	border-color: red !important;
}

hr
{
	height: 1px;
	border: 0;
	color: #EFEFEF;
	background-color: #EFEFEF;
	width: 100%;
}

.hide-button
{
	height: 0;
	border: none;
	width: 0;
	padding: 0;
	margin: 0;
	visibility: hidden;
	display:inline-block;
}

.remove-margin
{
	margin: 0 !important;
}

.remove-padding
{
	padding: 0 !important;
}