@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<h4>Settings</h4>
<p>
	<a href="@Url.Action("settings", "admin")">Edit settings</a> - edit application settings.<br />
	<a href="@Url.Action("refresh_settings", "admin")">Refresh settings</a> - refreshes application settings.
</p>