@{
    ViewBag.Title = "Enter Password";
}

<h2>Password</h2>
<p>The question you wish to view is password protected. If you know the password and would like to view the question, please enter the password below.</p>
<div class="grid">
	<div class="row">
		<div class="span6">
			@{
				Html.BeginForm("password", "article", new { id = ViewBag.ID, shortName = ViewBag.ShortName }, FormMethod.Post, null);
			}
				<h4>Password</h4>
				@Html.ValidationMessage("Password")
				<div class="input-control text">
					@Html.Password("Password", null, new { placeholder = "Enter article password", autocomplete = "off" })
					<button class="helper"></button>
				</div>
				<input type="submit" value="Submit" />
			@{
				Html.EndForm();
			}
		</div>
	</div>
</div>