@inherits WebViewPage<ViewQuestion>
@{
    ViewBag.Title = this.Model.Question.Title;
}
<h2>@(this.Model.Question.Title)</h2>
<h4>@(this.Model.Question.Time.ToLongDateString())</h4>
@if(!Current.Controller.CurrentUser.IsAnonymous && (Current.Controller.CurrentUser.ID == this.Model.Question.OwnerUserID || Current.Controller.CurrentUser.IsAdmin))
{
	<div class="button-set">
		<a href="@Url.Action("edit", "article", new { id = this.Model.Question.ID, shortName = this.Model.Question.ShortName })"><button class="bg-color-blueLight"><i class="icon-pencil"></i> Edit</button></a>
	</div>
}
<p>
	@Html.Raw(this.Model.Question.Answer)
</p>