@{
    ViewBag.Title = "Home";
}
<h2>Home</h2>
<div class="grid remove-margin">
	<div class="row">
		<div class="span10">
			@{
				Html.BeginForm("index", "search", FormMethod.Get);
			}
				<h4>Quick Search</h4>
				<div class="input-control text">
					@Html.TextBox("input", null, new { placeholder = "Quickly search for a question ..." })
					<button class="helper"></button>
				</div>
				<input type="submit" value="Search" />
			@{
				Html.EndForm();
			}
		</div>
	</div>
</div>
<h4>Recently Added Questions</h4>
<p>
	@foreach(var q in (IEnumerable<Question>)ViewBag.RecentQuestions)
	{
		@Html.ActionLink(q.Title, "view", "article", new { id = q.ID, shortName = q.ShortName}, null)<br />
	}
</p>
<h4>Popular Questions</h4>
<p>List of recently asked questions.</p>