@inherits WebViewPage<User>
@{
	ViewBag.Title = "Login";
}
<h2>Login</h2>
<div class="grid">
	<div class="row">
		<div class="span6">
			@{
				Html.BeginForm("login", "auth", FormMethod.Post);
			}
				<h4>Username</h4>
				@Html.ValidationMessageFor(x => x.Username)
				<div class="input-control text">
					@Html.TextBoxFor(x => x.Username, new { placeholder = "Enter a username" })
					<button class="helper"></button>
				</div>
				<h4>Password</h4>
				@Html.ValidationMessageFor(x => x.Password)
				<div class="input-control text">
					@Html.PasswordFor(x => x.Password, new { placeholder = "Enter a password" })
					<button class="helper"></button>
				</div>
				<input type="submit" value="Submit" />
			@{
				Html.EndForm();
			}
		</div>
	</div>
</div>